
.init-box-lang {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(
    to bottom,
    rgba(106, 107, 199, 255),
    rgba(97, 80, 135, 255)
  );
  font-family: "Open Sans",sans-serif;
}

.display-all{
  margin: 0;
  padding: 0;
  flex-basis: 0;
  height: 100%;
  /* change to 100% */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(
    to bottom,
    rgba(106, 107, 199, 255),
    rgba(97, 80, 135, 255)
  );
  font-family: "Open Sans", sans-serif;
  overflow-x:hidden;
}

.readefine-logo {
  border-radius: 5rem;
  width: 200px;
  height: 200px;
  margin-bottom: 1rem;
}

.choose-lang-header {
  color: white;
}

.lang-box {
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-around;
}
.box-for-lang {
  margin: 3.5px;
  width: 55px;
  height: 55px;
  border-style: solid;
  border-width: 5px;
  border-radius: 1rem;
  border-color: white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lang-color {
  margin: 0;
  font-size: x-large;
}

.box-for-lang-clicked {
    margin: 2.5px;
    width: 65px;
    height: 65px;
    border-style: solid;
    border-width: 5px;
    border-radius: 1rem;
    border-color: #e9a9d8;
    color: #e9a9d8;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: color-change;
    animation-duration: 1s;
}

.box-for-lang-clicked-back {
    margin: 2.5px;
    width: 55px;
    height: 55px;
    border-style: solid;
    border-width: 5px;
    border-radius: 1rem;
    border-color: white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: color-change-back;
    animation-duration: 1s;

}

@keyframes color-change {
  from {
    margin: 2.5px;
    width: 55px;
    height: 55px;
    border-style: solid;
    border-width: 5px;
    border-radius: 1rem;
    border-color: white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  to {
    
  }
}

@keyframes color-change-back {
  from {
    margin: 2.5px;
    width: 65px;
    height: 65px;
    border-style: solid;
    border-width: 5px;
    border-radius: 1rem;
    border-color: #e9a9d8;
    color: #e9a9d8;
    display: flex;
    justify-content: center;
    align-items: center;
  } to {

  }
}

.first-image-box{
  padding-top: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: inherit;
}

.text-body{
  color: white;
  width: 40%;
  animation-name: text-color-change;
  animation-duration: 4s;
}

.phone-image{
  max-width: 25%;
  height: auto;
  width: auto;
}

.text-body h3{
  font-size: xx-large;
}

@keyframes text-color-change {
  from {
    color: transparent;
  } to {
    color: white;
  }
}

.none-none{
  display: none;
}

@media only screen and (max-width: 1200px){
  .phone-image{
    max-width: 30%;
  }
  .text-body{
    width: 35%;
  }
}

@media only screen and (max-width: 1000px){
  .phone-image{
    max-width: 35%;
  }
}

@media only screen and (max-width: 700px){
  .phone-image{
    max-width: 40%;
  }
  .first-image-box{
    padding-top: 0rem;
  }
}

@media only screen and (max-width: 550px){
  .phone-image{
    max-width: 100%;
  }
  .first-image-box{
    flex-direction: column;
    justify-content: center;
  }
  .text-body{
    margin-top: 5rem;
    margin-bottom: 2.5rem;
    width: 80%;
  }
}
